html {
    font-family: Helvetica Neue, Geneva, Arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    background-color: #ccc;
}

header {
    padding: 8px;;
    color: #fff;
    background-color: #666;
}

#container {

    height: 100%;
}

.photo {
    margin: 10px;
    display: inline-block;
    background-color: #FAFAFA;
}
